/*:root{
    --theme-color: rgb(200, 74, 135);
    --primary-color:#fecbf6;
    --secundary-color:#f8d2e5;
    --text-color-inverse:white;
    --text-color:rgb(247, 247, 247);
    --navbar-shallow-color:#e5e5e5;
    --menu-mobile-background-color:rgb(200, 74, 135);
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(235, 213, 216);
    color: var(--text-color);
    padding-top: 70px;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

